{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/cafe4-bg.png')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{current_user.name}}'s Cafes</h1>
            <span class="subheading">View your saved work-cafes below!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-lg-8 col-md-10 mx-auto">-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <hr>-->


{% if not list_empty: %}
<section id="user-cafes" class="coffee-shops">

<!--        <div class="section-title">-->
<!--            <h2 style="color: #0085A1; padding-top: 20px">Featured Cafes</h2>-->
<!--        </div>-->

        {% for row in user_cafes %}
        <div class="row justify-content-center">

            {% for cafe in row %}

            <div class="col-lg-4 d-flex justify-content-center mt-5 align-items-stretch">
                <div class="card" style="width: 18rem;">
                    <img src="{{ cafe.img_url }}" style="height:215px" ; class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ cafe.name }}</h5>
                        <div class="row">
                            <div class="col-lg-6 mb-3">
                                <h6 class="card-subtitle text-muted mb-1"> {{ cafe.location }} </h6>
                                <a href="{{ cafe.map_url }}" class="card-link"> Google Maps </a>
                                <p class="card-text mt-2">
                                    <i title="Average Coffee Price" class="fas fa-coffee mr-3" aria-hidden="true"></i> {{ cafe.coffee_price }}
                                    <br>
                                    <i title="Seats Available" class="fas fa-chair mr-3" aria-hidden="true"></i> {{ cafe.seats}}
                                </p>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center justify-content-center">
                                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <a style="margin-bottom: 10px" href="{{ url_for('edit_cafe', cafe_id=cafe.id)}}" class="btn btn-primary">Update</a>
                                <a href="{{ url_for('user_delete_cafe', cafe_id=cafe.id)}}" class="btn btn-danger">Remove</a>
                                </div>
                            </div>
                        </div>
                        <p class="card-text items">
                            {% if cafe.has_wifi == 1%}
                            <i title="Wifi Available" class="fas fa-wifi" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_sockets == 1%}
                            <i title="Outlets Available" class="fas fa-plug" style="width: 1.25rem; text-align:center" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.has_toilet == 1%}
                            <i title="Bathroom Available" class="fas fa-toilet" aria-hidden="true"></i>
                            {% endif %}
                            {% if cafe.can_take_calls == 1%}
                            <i title="Allowed to Call" class="fas fa-phone" aria-hidden="true"></i>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    <div class="d-flex justify-content-center">
    <a href="{{ url_for('cafes') }}" style="margin: 60px;" class="btn btn-primary animated fadeInUp scroll">View More</a>
    </div>
</section>
    {% else: %}
    <hr class="no-cafes-hr">
        <h2 class="no-cafes" style="color:black;">No cafes saved! <a href="{{ url_for('cafes') }}" style="margin: 10px;" class="btn btn-primary animated fadeInUp scroll">Browse here</a> </h2>
    <hr class="no-cafes-hr">
    {% endif %}
  {% include "footer.html" %}